<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cadeau</title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  </head>

  <body>
    <div class="container">
      <%= if !!(get_flash(@conn, :info)) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>

      <%= if !!(get_flash(@conn, :error)) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <%= if @user_id do %>
        <%= link "Logout", to: session_path(@conn, :delete), method: :delete %>
      <% else %>
        <%= link "Login", to: session_path(@conn, :create) %>
      <% end %>

      <%= if @user_id && !Kernel.is_nil(@cart_id) do %>
        <div>
          <%= link "Shopping Cart", to: shopping_cart_path(@conn, :index) %>
        </div>
      <% end %>

      <%= if @user_id do %>
        <div>
          <%= link "View My Orders", to: order_path(@conn, :index) %>
        </div>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
